@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

.App {
  padding: 20px;

  font-family: "Nanum Pen Script", cursive;
  font-family: "Yeon Sung", cursive;
}
